.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

img {
  
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.job {
  display: flex;
  border-radius: 5px;
  border: 2px solid #000000;
  font-size: 4em;
  margin: 10px;
  transition-duration: 0.3s;
}

.name {
  width: 50%;
}

.work {
  width: 50%;
}

.grid-container {
  margin: 10px;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
  grid-row-gap: 25px;
}

.grid-item {
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  transition-duration: 0.3s;
}

.top {
  display: flex;
}

.top-left {
  padding: 5px;
  height: 25%;
  width: 50%;
  position: relative;
  text-align: left;
  left: 0px;
  font-size: 1.5em;
}

.top-right {
  padding: 5px;
  height: 25%;
  width: 50%;
  position: relative;
  right: 0px;
  text-align: right;
  font-size: 1.5em;
}

.time {
  font-size: 3em;
  text-align: center;
  
  position: relative;
  top: -15%;
}

h1 {
  margin: 10px;
  text-align: left;
}

.weekBtn {
  height: 50px;
  font-size: large;
}

.arrow {
  height: 100px;
}

.date {
  font-size: 30px;
  font-weight: 600;
  display: inline;
  float: right;
  margin-right: 20px;
}

.icon {
  height: 50px;
}

.btn-null {
  background-color: #c6c8ca !important;
}
